html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#container {
    display: flex;
    gap: 0.3em;
}

#container, #container div {
    height: 100%;
}

#sidebar {
    flex-basis: 12%;
    padding: 0em 1em;
}

#calendar-contain {
    flex-basis: 88%;
}

table.calendar {
    table-layout: fixed;
    width: 100%;
    height: 100%;

    border-spacing: 5px;
}

.calendar td {
    border: solid 1px #808080;
}

.header th {
    height: 1em;
    font-size: 0.7em;
    font-weight: 300;
    text-align: center;
}

.calendar .filled {
    border: solid 1px black;
    background-color: black;
}

#percent {
    cursor: pointer;
}

.button {
    background-color: white;
    border: solid 2px black;
    border-radius: 0.5em;

    padding: 0.5em 0.8em;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color: white;
}

#mobile-warning {
    display: none;
    position: fixed;
    bottom: 4px;
    left: 0;
    right: 0;

    width: 80%;
    margin-left: auto;
    margin-right: auto;

    background-color: white;
    border: solid 1px black;
    z-index: 2;
    border-radius: 1em;

    padding: 0.2em 1em;
}

@media only screen and (max-device-width: 640px) {
    #container {
      display: flex;
      border: 5px solid yellow;
      flex-flow: column nowrap;
    }

    #mobile-warning {
        display: block;
    }
}

#credit {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;

    color: black;
    text-decoration: underline;
}